@using BTL_Tu.Models
@model List<BTL_Tu.Models.PhuHuynh>
@{
    Layout = "_Layout";
}
<div class="row">
    <a class="btn btn-primary text-light m-1 p-1">Danh sách phụ huynh</a>
</div>

<div class="container">
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <th>Mã phụ huynh</th>
            <th>Tên phụ huynh</th>
            <th>Số điện thoại</th>
            <th>Quan hệ</th>
            <th>Địa chỉ</th>
            <th></th>
        </tr>
        
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.MaSoPhuHuynh</td>
                <td>@i.Ten</td>
                <td>@i.SoDienThoai</td>
                <td>@i.QuanHe</td>
                <td>@i.DiaChi</td>
                <td>
                    <form method="post" asp-action="Xoa">
                        <input type="hidden" value="@i.MaSoPhuHuynh" name="MaPhuHuynh">
                        <a class="btn btn-primary text-light" asp-route-MaPhuHuynh="@i.MaSoPhuHuynh"
                           asp-action="Sua">Sửa</a>
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
